{% block header %}
    <div class="header">
		<header>
			<div class="wrapper">
				<div class="logo">
					<a href="/"> Nom du Site </a>
				</div>

				<nav>
					<a href="/articles"> Articles </a>
					<a href="/articles/insert"> Créer </a>
					<a href="/articles/update"> Modifier </a>
					<a href="#"> Vue </a>
				</nav>
			</div>
		</header>
    </div>
{% endblock %}