{% block header %}
    <div class="header">
		<header>
			<div class="wrapper">
				<div class="logo">
					<a href="/"> Nom du Site </a>
				</div>

				<nav>
					<a href="{{ path('articles') }}"> Articles </a>
					<a href="{{ path('insert') }}"> Créer </a>
					<a href="{{ path('listeUpdate') }}"> Modifier </a>
					<a href="{{ path('delete') }}"> Supprimer </a>
				</nav>
			</div>
		</header>
    </div>
{% endblock %}