{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/accueil/accueil.css')}}">
{% endblock %}

<html>
    <section>

        <div class="box-accueil">

            <h1 id="titre">Bienvenue sur notre site de Redaction d'Articles !</h1>

            <img id="accueil-image" src="images/accueil.png" alt="" />

            <p>Ce projet a été entièrement réalisé par nous 5 dans le cadre d'un Projet Tutoré portant sur le Back-office Web pendant le 3ème Semestre 
            de DUT Informatique - Années : 2019 - 2021</p>
    
        </div>

    </section>

</html>

{% endblock %}