{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/user/inscription/inscription.css')}}">
{% endblock %}

    <div class="box-inscription">

        <h1 id="titre"> Inscription </h1>
    
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form(form) }}

    </div>

{% endblock %}