#titre {
    margin-top: 20px;
    font-size: 3ch;
    text-shadow: 2px 2px 4px #beceff;
}

.box {
    border: 1px solid #c4c4c4;
    border-radius: 2ch;
    margin: 15px;
    width: 45%;
    padding: 10px;
    height: 100px;
    background-color: white;
    box-shadow: 2px 2px 4px #beceff;
    display: inline-block;
}

.titreArticle {
    font-size: 16px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #beceff;
}

.date {
    margin-bottom: 10px;
}

.page {
    color: black;
    text-decoration: none;
}

.pagination {
    text-align: center;
    background: orange;
    width: 10%;
    height: 25px;
    margin: auto;
    margin-top: 20px;
    padding: 3px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}

#videofond {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(video.jpg) no-repeat;
    background-size: cover;
}