{% extends 'base.html.twig' %}

{% block title %}Modification Utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/user/modif/modifuser.css') }}">
{% endblock %}

{% block body %}

    <div class="box-modification">

        <h1 id="titre">Modification Utilisateur</h1>

        {{ form(userForm) }}

    </div>
    
{% endblock %}


