{% block footer %}
	<div class="footer">
		<footer>
			<h1> by 
				<a href="https://www.linkedin.com/in/mehdi-akniou-0983b71a4/">AKNIOU Mehdi</a>
				 / 
				<a href="https://www.linkedin.com/in/kemil-djermoune-7a6086198/">DJERMOUNE Kemil</a>
				 / 
				<a href="https://www.linkedin.com/in/maxence-giron-0429a0186/">GIRON Maxence</a>
				 / 
				<a href="https://www.linkedin.com/in/sylvio-gisonni-813481200/">GISONNI Sylvio</a>
				 / 
				<a href="https://www.linkedin.com/in/mehdi-akniou-0983b71a4/">TOPALOVIC Ajdin</a>
			</h1>
		</footer>
	</div>
{% endblock %}