{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/article/update/updateArticle.css') }}">
{% endblock %}

{% block body %}
    <section>
        <video autoplay loop poster="video.jpg" id="videofond">
            <source src="images/video.mp4" type="video/mp4">
        </video>
        <div id='formUpdateArticle'>
            {{ form(form) }}
        </div>
    </section>
{% endblock %}
