#formUpdateArticle {
    border: 1px solid #c4c4c4;
    border-radius: 2ch;
    padding: 20px;
    margin-top: 38px;
    margin-left: 275px;
    width: 60%;
    height: 50%;
    background-color: white;
}

.box-input {
    font-size: 16px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 40%;
    height: 30px;
}

.box-input-v2 {
    font-size: 16px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
    height: 30px;
}

.box-input-art {
    font-size: 16px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 80%;
    height: 90px;
}

.box-input:focus .box-text-area:focus {
    outline: none;
    border-color: #5c7186;
}

.add-button {
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: #d2483c;
    border: 0;
    border-radius: 5px;
    padding: 0;
    width: 20%;
    height: 30px;
    cursor: pointer;
    outline: 0;
}

#videofond {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(video.jpg) no-repeat;
    background-size: cover;
}